body {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  background-color: #1E1E1E;
  color: white;
}

header {
  background-color: #1E1E1E;
  color: white;
  padding: 4px 10px;
  text-align: center;
}

section {
  background: #121212;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  color: white;
}

footer {
  text-align: center;
  padding: 40px;
  color: #777;
}