body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #222;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  color: #444;
}

footer {
  text-align: center;
  padding: 20px;
  color: #777;
}